cxx_configuration do
  <%= building_block %> "<%= name %>",
    :sources => FileList['**/*.cpp'],
    :includes => ['include'],
    :dependencies => []<%= whole_archive ? ",\n    :whole_archive => true" : "" %>
end
